<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mcad_proj">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/corona_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/corona_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MCAD_Proj">
        <activity android:name=".Home" />
        <activity android:name=".Statistics" />
        <activity android:name=".Info" />
        <activity android:name=".symptoms" />
        <activity android:name=".Statisticsworld" />
        <activity android:name=".CountryWiseDataActivity" />
        <activity android:name=".EachCountryDataActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>